<header class="flex justify-between ">
    <h1 class="text-xl font-semibold flex items-center gap-2 m-0">
        <i class="icon icon-add-home h-7 w-7 bg-zinc-900"></i>
        Cadastro de nova UC {{t.length}}
       
    </h1>
    <div class="flex space-x-4">

        <a routerLink="/uc" class="btn-danger">
            Cancelar
        </a>
        @if(isLoading) {
            <div class="h-8 w-8 border-4 rounded-full animate-spin border-l-0 "></div>
        }
        @else {   
            <button
            [disabled]="!profileForm.valid"
            (click)="onSave()" class="btn-primary">
            <i class="icon icon-upload-file w-5 h-5 bg-white"></i>
            Cadastrar UC
        </button>
    }
    </div>
</header>

<section>
    <form [formGroup]="profileForm" class="p-8 space-y-8">
        @for(line of lines; track line) {
        <div class="flex flex-wrap gap-8">
            @for(item of formInfo; track item.entity) {
                @if(item.line === line) {
                <div class="">
                    <app-text-field 
                      [label]="item.label"
                      [required]="item.required"
                      [error]="!profileForm.get(item.entity)?.valid && !this.profileForm.get(item.entity)?.pristine"
                      [sufixIcon]="item.type === 'password' ? iconsPassword : undefined"
                      (sufixClick)="toggleVisibilityPass()"
                      >
                        @if(item.options) {
                            <select [formControlName]="item.entity">
                                @for(item of item.options; let idx = $index; track idx) {
                                    <option [ngValue]="item">{{item}}</option>
                                }
                            </select>
                        }
                        @else {
                            <input 
                                    [formControlName]="item.entity"
                                    [id]="item.entity"
                                    [type]="item.type === 'password' ? passwordInputType : item.type" />
                        }       
                    </app-text-field>
                </div>
                }
            }
        </div>
        }
    </form>
</section>