.icon {
    display: flex;
    min-width: 10px;
    min-height: 10px;
    background: rgba(#000000, 0.8);
    mask-size: cover;
}

.icon-home {
    mask: url(./svg/home.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}


.icon-tower {
    mask: url(./svg//tower.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.icon-calc {
    mask: url(./svg//calc.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.icon-persons {
    mask: url(./svg/persons.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.icon-money {
    mask: url(./svg//money.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.icon-settings {
    mask: url(./svg/settings.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.icon-settings-outline {
    mask: url(./svg/settings-outline.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}



.icon-arrow-next {
    mask: url(./svg/arrow-next.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}


.icon-menu-sanduiche {
    mask: url(./svg/menu-sanduiche.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}


.icon-add-home {
    mask: url(./svg/add-home.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.icon-upload-file {
    mask: url(./svg/upload-file.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}
.icon-download {
    mask: url(./svg/download.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.icon-info {
    mask: url(./svg/informate.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.icon-edit {
    mask: url(./svg/edite.svg);
    mask-repeat: no-repeat;
    mask-size: 100%; 
}

.icon-trash {
    mask: url(./svg/trash.svg);
    mask-repeat: no-repeat;
    mask-size: 100%; 
}

.icon-visibility {
    mask: url(./svg/visibility.svg);
    mask-repeat: no-repeat;
    mask-size: 100%; 
}

.icon-visibility-off {
    mask: url(./svg/visibility_off.svg);
    mask-repeat: no-repeat;
    mask-size: 100%; 
}