<nav class=" bg-[#1E01C2] h-full p-2 lg:p-4 lg:px-6">
    <div class="w-full flex justify-center">
        <img src="logo.png" class="w-full w-[100px] lg:w-[220px]" />
    </div>
    <ul class="mt-8 text-white space-y-6">
        @for (item of routersBtn; track item.label) {
        <li>
            <a class="flex items-center justify-between cursor-pointer" [class]="currentRouter == item.path ? 'text-orange-300' : ''"
                [routerLink]="[item.path]">

                <div class="flex items-center gap-2 text-lg">
                    <i [class]='item.icon' class="icon h-[18px] w-[18px] bg-white"> </i>
                    {{ item.label }}
                </div>
                @if(item.hasNext) {
                <i class="icon icon-arrow-next h-[18px] w-[18px] bg-white"></i>
                }
            </a>
        </li>
        }
    </ul>
</nav>