<app-card headerTitle="Lista de UCs cadastradas">
    <div class="min-h-[42vh]">
        @if(ucList.length > 0) {
        <div class="w-full mt-4 p-4 overflow-x-auto ">
                <div class="inline-flex lg:flex border-b">
                    <div class="w-[150px] lg:w-1/5 text-center font-semibold mb-2">Unidade/Instalação</div>
                    <div class="w-[150px] lg:w-1/5 text-center font-semibold mb-2">N° cliente</div>
                    <div class="w-[150px] lg:w-1/5 text-center font-semibold mb-2">Empresa</div>
                    <div class="w-[150px] lg:w-1/5 text-center font-semibold mb-2">Unidade</div>
                    <div class="w-[150px] lg:w-1/5 text-center font-semibold mb-2">Status</div>
                    <div class="w-[150px] lg:w-1/5 text-center font-semibold mb-2"></div>
                </div>
            <div class=" space-y-2 w-full">
                @for(item of ucList; let idx = $index; track idx) {
                    <div class=" inline-flex lg:flex">
                        <div class=" w-[150px] lg:w-1/5 mt-4 text-center truncate">{{item.numInstallation}}</div>
                        <div class=" w-[150px] lg:w-1/5 mt-4 text-center truncate">{{item.numClient}}</div>
                        <div class=" w-[150px] lg:w-1/5 mt-4 text-center truncate">{{item.company}}</div>
                        <div class=" w-[150px] lg:w-1/5 mt-4 text-center truncate">{{item.unitDescription}}</div>
                        <div class=" w-[150px] lg:w-1/5 mt-4 text-center flex justify-center"> 
                            <span [class]="item.active ? 'badge-green' : 'badge-zinc'">
                                {{item.active ? 'ativo' : 'inativo' }}
                            </span>
                         </div>
                        <div class="w-[150px] lg:w-1/5 mt-4 flex justify-center gap-2"> 
                                 
                                <button (click)="actionsClick.emit({action: 'edit', uc: item})"><i class="icon icon-edit h-4 w-4 bg-zinc-500"></i></button>
                                <button (click)="actionsClick.emit({action: 'edit', uc: item})"><i class="icon icon-settings-outline h-4 w-4 bg-blue-500"></i></button>
                               
                                <button (click)="actionsClick.emit({action: 'delete', uc: item})"><i class="icon icon-trash h-4 w-4 bg-red-500"></i></button>
                            
                        </div>
                    </div>
                }
            </div>
        </div>
        }
        @else {
            <div class="h-[30vh] flex justify-center items-center flex-col">
                <p class="w-full max-w-4xl mx-auto text-center">
                    Ainda não existem UCs cadastradas no sistema. Cadastre manualmente uma UC ou faça a
                    importação em massa de suas UCs com nosso modelo de planilha
                </p>
                <button (click)="downloadExample.emit()" class="text-[--bg-btn-primary] flex gap-2 items-center mt-2 text-xs ">
                    <i class="icon icon-download w-5 h-5  bg-[--bg-btn-primary]"></i>
                    Download modelo de planilha
                </button>
            </div>

        
        }
    </div>
</app-card>