<app-modal headerTitle="Importal UCs">
    <div class="w-[700px]">

        @if(file) {
        <div class="border p-4 rounded-xl flex justify-between mt-4">
            <div>
                <small class="text-zinc-600">Arquivo escolhido:</small>
                <p>{{file.name}}</p>
            </div>
            <button (click)="removeFile()">
                <i class="icon icon-trash h-5 w-5 bg-red-600"></i>
            </button>
        </div>

        <div class="mt-4 bg-[--bg-app] rounded-xl p-3">
            <h3 class="text-xl">Dados do arquivo</h3>
            <ul class="max-h-[40vh] overflow-y-auto">
                <li>
                    <div class=" inline-flex    ">
                        @for(entity of entities; track entity) {
                            <div class=" w-[150px] mt-4 text-center truncate font-bold">{{ entity }}</div>
                        }
                    </div>
                </li>

                @for(item of ucList; let idx = $index; track idx) {
                <li>
                    <div class=" inline-flex    ">
                        @for(entity of entities; track entity) {
                            <div class=" w-[150px] mt-4 text-center truncate">{{ item[entity] }}</div>
                        }
                    </div>
                </li>
                }
            </ul>
        </div>
        }

        @else {
        <div
            class="border-deshad border-5 rounded my-4 w-full flex justify-center items-center text-center cursor-pointer">
            <label for="imageInput" class="p-5 label cursor-pointer">
                Selecione o arquivo
                <input type="file" (change)="handleFile($event)" [accept]="accept" class="w-full" />
            </label>
        </div>
        }

        <footer class="mt-8 flex justify-between">
            <button class="btn-danger">Cancelar</button>
            <button 
                (click)="onSave()"    
                [disabled]="!file"
                class="btn-primary">Salvar</button>
        </footer>
    </div>
</app-modal>